<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="StudenTConnection" connectionString="LDAP://student.isea.ru/DC=student,DC=isea,DC=ru"/>
    <add name="IseAConnection" connectionString="LDAP://isea.ru/DC=isea,DC=ru"/>
    <add name="WifiSiteConnectionString" connectionString="Data Source=vm-sql-03;Initial Catalog=WifiSite; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>